body{
margin: 0;
}

.div1{
	
	background-color: #DCDCDC;
	text-align: right;
}

.div1 a{
	
	text-decoration: none;
	color: #ccc;

}



.logo #o1{
	position: absolute;
    margin:10px;
    
    margin-left: 15px;
  

}

.logo #o2{
	position: absolute;
    margin:15px;
  
    
}

header{
	background: white;
	height: 60px;
}
nav a{
line-height: 30px;
color: #DCDCDC;
float: right;
text-align: left;
padding: 10px;
font-size: 15px;
}

#main{
	clear: both;
	width: 100%;
	height: 400px;
}

#p1{
	text-align: center;
}

#s{
	margin-top: 20px;
	text-align: center;
}

.d2{
	margin-left: 35px;
	float: left;
	width: 300px;
	height: 200px;

}

.d2 h3{
	color: 	#808080
}

.d2 img{
	width: 290px;
	height: 120px;
}

.d2 p{
	color: 	#808080;
	text-align: justify;
	clear: both;
}


.x1{
height: 50px;
	background-color: #DCDCDC;
	margin-top: 400px;
}

.x1 img{
	width: 50px;
	height: 50px;
	margin-left: 30px;
}
.x1 #sp{
	text-align: center;
}


footer{
	margin-top: 0.1px;
	background-color: #D3D3D3;
	height: 200px;

}

footer .div4
{
	text-align: justify;
	margin: 15px;
	width: 300px;
float: left;
}

.div4 p{
	text-align: justify;
	color: #696969;
}

.div4 h3{
	color: #696969;
}

.div5 img{
	width: 50px;
	height: 50px;

}

.div6 img{
	width: 50px;
	height: 50px;
	
}

.n1{
	display:inline-block; 
}
.n1 a{
	display: inline-block;
float: left;
color: #696969;

}

.div7{
	margin-top: 0;
	background-color: #A9A9A9;
	height: 50px;
}

.div7 p{
	float: left;
}